<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
		<!--favicon-->
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
		<!-- bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

		<!-- bootstrap theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

		<!-- local css -->
		<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/think-tank.css") }}"> 

		<!-- jquery -->
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

		<!-- bootstrap js -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

		<!-- local js -->
		<script type="text/javascript" src="{{ url_for("static", filename="js/think-tank.js") }}"></script>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% endblock %}
		<title>Think Tank</title>
	</head>
	<body>
		{% block navbar %}
		<div id="bye">
			<a href="/logout">
				<button id="logout">logout</button>
			</a>
		</div>
		{% endblock %}
		{% block content %}{% endblock %}
		{% block footer %}
		&copy; ThinkTank <script>document.write(new Date().getFullYear())</script>
		{% endblock %}
	</body>
</html>
